:root {
    --primary-color: #FED001;
    --font-color: #fafafa;
}

html {
    /* font-size: 62.5%;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;   */
    font: 400 62.5% 'Inter', sans-serif;
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}

.section_btn {
    
    margin: 7rem 0;
    display: inline-block;
}

.wrappercontainer {
    padding-top: 1px;
}

.wappercontainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrappercontainer-light {
    background-color: #fafafa;
}

.wappercontainer-dark2 {
    background-color: #003464;
    color: #fafafa;
}
.wrappercontainer-fixed {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.wrappercontainer-paded{
    padding: 12rem;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.section_title {
    padding: 7rem 0;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header_nav ul {
    display: flex;
    gap: .6;
}

.header_nav ul li {
    list-style: none;
    padding: 1rem .2rem;
}

.header_nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: .75em 1.15em;
    border: 1px solid;
}

.header_nav ul li a:hover {
    background-color: black;
}

.wrappercontainer-hero {
    background-image: linear-gradient(white, var(--primary-color));
}

.HeroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.cursos{
    text-align: center;
}
.curso_card{
    
    flex: 1;
}

.cursos-container{
    display: flex;
    text-align: left;
    gap: 2rem;
}
.curso_card img{
    display: block;
    width: 100%;
}

.curso_card h3{
    font-size: 2.4rem;
}
.curso_card p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content{
    padding: 1rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.escola{
    display: flex;
    padding-top: 6rem;
}

.escola >div {
    
    padding: 2rem 5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    
}
.escola h2{
    color: var(--font-color);
}
address{
    font:'Inter', sans-serif;   
    text-align: right;
    font-size: 1.5rem;
    font-style: normal;
    margin: 3rem 3rem;
}
footer{
    background-color: #2a2a2a;
    color: var(--font-color);
    padding: 4rem;
    text-align: center;
}